@charset "utf-8";

:root {
    --azul-padrao: #2065B3;
    --azul-secundaria: #ABC0D5;
    --cinza: #BCBBB6;
}

* {
    
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: #ABC0D5;
}

.container {
    display: flex;
    
}

.logo img {
    height: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}